@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

html { 
  background: url("https://images8.alphacoders.com/605/605599.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

li{
    list-style:none;
}

body{
    font-family: 'Permanent Marker', cursive;
    font-size:20px;
    text-shadow: 1px 1px white;
}

nav{
    padding-top:15px;
    text-align:center;
    margin:auto;
    width:50%;
}

header{
    padding-top:15px;
    text-align:center;
    margin:auto;
    width:70%;
    font-size:23px;
}

.indexWrapper{
    display:flex;
    margin:auto;
    width:50%;
    padding-top:30px;
}

footer{
    padding-top:170px;
    text-align:center;
    margin:auto;
    width:50%;
}

.indexMadaraVideoBox{
    background-color:black;
    display:flex;
    border:solid;
    width:50%;
    margin: auto;
}

.videoParagraph{
    width:450px;
    text-align:center;
    padding-top:50px;
    color:white;
    font-size:22px;
}

.merch{
    margin:0 auto;
    padding:0px;
    width:50%;
}

.billboard-image{
    width:250px;
    height:200px;
}

.merchUl{
    padding:0px;
    display:flex;
    justify-content:center;
}

.about{
    text-align:center;
    font-size:30px;
}

.aboutCaption{
    color:black;
    background-color:white;
    border:solid;
}
a:link{ 
    color: black; text-decoration: none; font-weight: normal 
}

a:visited{ color:black; text-decoration:none; font-weight: normal 
}

a:active{ 
    color:black; text-decoration:none 
}

a:hover{ 
    color:#ee7441; text-decoration:none; font-weight:none 
}
